// performer cards size on desktop
@media (min-width: 576px) {
    .item-list-container .performer-card {
        width: 290px !important;
    }
}

// hide male performers from preformers tab
.performer-card:has(svg[data-icon="mars"]) {
    display: none;
}

// performer age alignment
.performer-card__age {
    text-align: center;
}

// hide gender icon
svg.gender-icon {
    display: none;
}

// hide useless tabs
#performer-tabs-tab-movies,
#performer-tabs-tab-appearswith {
    display: none;
}

// hide performer sticky details
.sticky.detail-header {
    display: none;
}

// top extra margin in performer page
#movie-page,
#performer-page,
#studio-page,
#tag-page {
    margin-top: -9px;
}
