.modal-header,
.modal-body,
.modal-footer {
    background-image: url("https://raw.githubusercontent.com/Tetrax-10/stash-stuffs/main/Themes/PlexBetterStyles/assets/plex-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3f4245;
    background-attachment: fixed;
    background-position: center;
}

.markdown blockquote,
.markdown pre,
.markdown table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.markdown code {
    background-color: unset !important;
    color: #f7c600;
}
