// non stick task queue
#tasks-panel .tasks-panel-queue {
    position: unset;
}

// task queue container bg color
#tasks-panel .tasks-panel-queue {
    background: rgba(0, 0, 0, 0);
}

// settings section's bg color
#settings-container .card {
    background-color: rgba(0, 0, 0, 0.15);
}
