// nav bar home button (stash)
@media (min-width: 576px) {
    .top-nav .navbar-brand {
        a,
        button {
            &:focus,
            &:hover,
            &:active {
                background-color: unset !important;
            }
        }
    }
}

// active page nav item (desktop)
.top-nav {
    .btn.active:not(.disabled),
    .btn.active.minimal:not(.disabled),
    a:active,
    a.minimal:hover:not(:disabled),
    button.minimal:hover:not(:disabled) {
        background: rgba(0, 0, 0, 0.2);
        color: #eee;

        @media (max-width: 576px) {
            border-radius: 10px;
        }
    }
}

// top bar container
.top-nav.bg-dark {
    background-image: url("https://raw.githubusercontent.com/Tetrax-10/stash-stuffs/main/Themes/PlexBetterStyles/assets/plex-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

// top bar (navbar)
.navbar-collapse.bg-dark {
    background-color: unset !important;
}
