// cards in mobile
@media (max-width: 576px) {
    // fix scene cards height
    .scene-card-preview {
        height: auto !important;
    }

    // image card fit to image aspect ratio
    .image-card.card,
    .gallery-card.card {
        width: unset;
    }

    // image card remove fixed height
    .image-card-preview {
        height: auto !important;
    }

    // tag, gallery card remove fixed height
    .tag-card-image,
    .gallery-card-image {
        max-height: unset !important;
    }

    // home page cards aspect ratio fix
    .slick-slider .image-card-preview {
        height: 24rem !important;
    }
    .slick-slide .card {
        height: auto;
    }
}

// cards in desktop
@media (min-width: 576px) {
    // image, gallery card fit to image aspect ratio
    .image-card.card,
    .gallery-card.card {
        width: unset;
    }

    // fix portrait previews height in cards
    .scene-card-preview {
        height: auto !important;
    }

    // fix not portrait image card when on zoom 0
    .zoom-0 .image-card-preview:not(.portrait) {
        height: 180px;
    }

    // card hover animation
    body:not(:has(.slick-track)) .card.grid-card {
        &[class*="scene-"],
        &[class*="image-"],
        &[class*="gallery-"],
        &[class*="performer-"],
        &[class*="studio-"],
        &[class*="tag-"],
        &[class*="movie-"],
        &[class*="scene-"] {
            transition: transform 0.1s ease;

            &:hover {
                transform: scale(1.1);
                z-index: 1;
                background-color: #d49c21 !important;

                .card-section * {
                    color: #000 !important;
                }
            }
        }
    }

    // hide rating ribbon on hover
    .card:hover .rating-banner {
        opacity: 0;
    }
}

// cards background and border radius
.job-table.card,
.card {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

// tagger page cards
.StudioTagger-studio,
// scene cards
.search-item,
.PerformerTagger-performer {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
.StudioTagger-studio .studio-card img {
    background-color: unset !important;
}

// rating ribbon
.rating-banner {
    background-color: rgba(0, 0, 0, 0.4);
    color: #eee;
    top: -14px;
    left: -58px;
    padding-top: 40px;
    transition: opacity 0.5s;
}

.card hr {
    display: none;
}

// image card preview button
.preview-button {
    height: unset;
    width: unset;
    right: 0;
    bottom: 0;
}
.preview-button .fa-icon {
    color: #eee;
    height: 2em;
    transition: opacity 0.2s;
    width: 2em;
}

// loading card bg color
.skeleton-card {
    background-color: rgba(0, 0, 0, 0.3);
}
