/* fix scene details page tags coloring */
.tag-item {
    background-color: rgba(31, 35, 38, 0.7);
    color: #f5f8fa;
}

// scene details nav button's color
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active {
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid;
    color: #eee;
}
.nav-tabs .nav-link:hover {
    border-bottom: none;
}

// edit scene save button container (new scene page)
#scene-edit-details .edit-buttons-container {
    background-color: rgba(0, 0, 0, 0.15);
    margin: unset;
    margin-bottom: 10px;
    border-radius: 5px;
}
// edit scene tab
.tab-content {
    #scene-edit-details .edit-buttons-container {
        background: linear-gradient(to right, #353e3f, #464f4d);
    }
}

// stash id left container
.stash-id-pill span {
    background-color: #d49c21;
    color: #000;
}

// stash id right container
.stash-id-pill a {
    background-color: rgba(0, 0, 0, 0.15);
}
