// app background image
body {
    background-image: url("http://localhost:9999/plugin/PlexBetterStyles/assets/plex-background.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3f4245;
    background-attachment: fixed;
    background-position: center;
}

// alter classes
.bg-dark {
    background-color: #1f2326 !important;
}
.text-white {
    color: #eee !important;
}
.border-secondary {
    border-color: #2f3335 !important;
}

// text box border
.input-control,
.text-input {
    box-shadow: none;
}
.text-input,
.text-input:focus,
.text-input[readonly],
.text-input:disabled {
    background-color: rgba(0, 0, 0, 0.15);
}

// select tag
.input-control,
.input-control:focus,
.input-control:disabled {
    background-color: rgba(0, 0, 0, 0.15);
}

// react select
div.react-select__control {
    background-color: rgba(0, 0, 0, 0.15);
    border: none;
}

// options (no of cards in toolbar)
option {
    background-color: #1f2326;
}

// dropdown
div.react-select__menu,
div.dropdown-menu {
    background-color: unset !important;
    background: url("http://localhost:9999/plugin/PlexBetterStyles/assets/plex-background.png") !important;
}
div.dropdown-menu .bg-secondary {
    background-color: unset !important;
}
div.dropdown-menu a:hover,
div.dropdown-menu button:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

// hide scene/image in details page divider
.scene-divider.d-none.d-xl-block {
    visibility: hidden;
}
div[class*="-divider"].d-none.d-xl-block:not(.scene-divider) {
    display: none !important;
}

// all a tags
a:hover,
a,
.btn-link:hover,
.btn-link {
    color: #f7c600;
    text-decoration: none;
}

// range slider
input[type="range"].zoom-slider::-webkit-slider-runnable-track {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 25px;
}
input[type="range"].zoom-slider::-webkit-slider-thumb {
    background: #ddd;
    border-radius: 50%;
}
input[type="range"].zoom-slider:focus::-webkit-slider-runnable-track {
    background: hsla(0, 0%, 100%, 0.2);
}
input[type="range"].zoom-slider::-moz-range-track {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 25px;
}
input[type="range"].zoom-slider::-moz-range-thumb {
    background: #ddd;
    border-radius: 25px;
}
input[type="range"].zoom-slider::-ms-fill-lower {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 50px;
}
input[type="range"].zoom-slider::-ms-fill-upper {
    background: hsla(0, 0%, 100%, 0.2);
    border-radius: 50px;
}
input[type="range"].zoom-slider::-ms-thumb {
    background: #ddd;
    border-radius: 50%;
}
input[type="range"].zoom-slider:focus::-ms-fill-lower {
    background: hsla(0, 0%, 100%, 0.2);
}
input[type="range"].zoom-slider:focus::-ms-fill-upper {
    background: hsla(0, 0%, 100%, 0.2);
}

// filter badge
.badge-info {
    color: #000;
    background-color: #d49c21;
}

// filtered info (Gender is Female)
.tag-item {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: #eee !important;
}
.tag-item > button {
    color: #fff !important;
}

// hide scene and other page scrollbar
.tab-content,
.scene-tabs {
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

// scrollbar theming
html {
    ::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #2b2b2b;
        border-radius: 6px;
    }
}

// star rating
.rating-stars {
    .btn-secondary {
        background-color: unset !important;
    }
}

.badge-secondary {
    color: #000;
    background-color: #d49c21;
}
