/* mobile card height */
@media (max-width: 576px) {
    .performer-card-image {
        height: unset;
    }
}

// fix bottom padding
.card.performer-card {
    padding: 0 0 0.5rem;
}

// remove background color when background image is not available
.detail-header:not(:has(.background-image)) {
    background-color: unset;
}
.detail-body nav {
    border-bottom: none;
}
