/* images, gallery card fix */
body:has(.navbar-nav > div[data-rb-event-key="/galleries"] > .active) .zoom-3 {
    width: unset;
}

@media only screen and (min-width: 767px) {
    /* image cards inside a gallery (performer) */
    .image-card.zoom-1 {
        height: auto;
        width: unset;
    }
}

// remove extra padding in cards
.gallery-card.card {
    padding-bottom: 0;
}
.gallery-card__details {
    margin-bottom: 0;
}

.gallery-card .TruncatedText {
    margin: 5px 0;
}
