// non stick task queue
#tasks-panel .tasks-panel-queue {
    position: unset;
}

// task queue container bg color
#tasks-panel .tasks-panel-queue {
    background: rgba(0, 0, 0, 0);
}

// settings section's bg color
#settings-container .card {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

// settings page tabs
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #d49c21;
}

// settings page active tab
#settings-menu-container {
    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #000;
        font-weight: 500;
    }
}

// code
code {
    font-size: unset;
    color: #f7c600;
}

// toggle button
.custom-control-input:checked ~ .custom-control-label:before {
    color: #fff;
    border-color: #d49c21;
    background-color: #d49c21;
}

#settings-menu-container a:hover {
    color: #f7c600;
}

// Library tab alternative colored rows
#stash-table .bg-dark {
    background-color: rgba(0, 0, 0, 0.15) !important;
}
.scraper-table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.15);
}

// Settings page monospaced texts
.setting-section .setting .value {
    color: #f7c600;
}

// package manager table heading
.package-manager table thead {
    background-color: rgba(0, 0, 0, 0);
}

// package manager search plugin input
.clearable-text-field,
.clearable-text-field:active,
.clearable-text-field:focus {
    background-color: rgba(0, 0, 0, 0.15) !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
}

#settings-container {
    .btn-primary:not(:disabled):not(.disabled):not(.collapse-button).active,
    .btn-primary:not(:disabled):not(.disabled):not(.collapse-button):active,
    .btn-primary:not(:disabled):not(.disabled):not(.collapse-button):hover,
    .btn-primary:not(:disabled):not(.disabled):not(.collapse-button):focus,
    .btn-primary:not(:disabled):not(.disabled):not(.collapse-button) {
        color: #000;
        background-color: #d49c21;
    }
}

#settings-container {
    .btn-secondary {
        color: #000;
        background-color: #d49c21 !important;
        font-weight: 500;
        border: none;
    }
}

// System => Userscript Settings input boxes
.bg-secondary {
    background-color: rgba(0, 0, 0, 0.15) !important;
    border: none !important;
}
