// cards in mobile
@media (max-width: 576px) {
    // fix scene cards height
    .scene-card-preview {
        height: auto !important;
    }

    // image card fit to image aspect ratio
    .image-card.card,
    .gallery-card.card {
        width: unset;
    }

    // image card remove fixed height
    .image-card-preview {
        height: auto !important;
    }

    // tag, gallery card remove fixed height
    .tag-card-image,
    .gallery-card-image {
        max-height: unset !important;
    }

    // home page cards aspect ratio fix
    .slick-slider .image-card-preview {
        height: 24rem !important;
    }
    .slick-slide .card {
        height: auto;
    }
}

// cards in desktop
@media (min-width: 576px) {
    // image, gallery card fit to image aspect ratio
    .image-card.card,
    .gallery-card.card {
        width: unset;
    }

    // fix not portrait image card when on zoom 0
    .zoom-0 .image-card-preview:not(.portrait) {
        height: 180px;
    }
}

// cards background and border radius
.job-table.card,
.card {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
